<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfNWMtMxFu6wrB_n29mUPkJAQI5fpgmPU</string>
	<key>GCM_SENDER_ID</key>
	<string>991960143636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trademe.evrey</string>
	<key>PROJECT_ID</key>
	<string>moonshot-d4883</string>
	<key>STORAGE_BUCKET</key>
	<string>moonshot-d4883.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991960143636:ios:c8318c454dc19e410b5401</string>
</dict>
</plist>